:root{
    --bg-color : ""#212121"";
}

html{
    padding: 0px;
}

body{
    padding: 0px;
    background-color: var(--bg-color);
    color: white;
    font-family: Helvetica, sans-serif;
    width: 350px;
    height: 580px;
    overflow-y: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* background-color: white; */
}

.container:hover{
    cursor: pointer;
}

#title{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

#star{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.section{
    margin-top: 30px;
}

span{
    font-size: 16px;
    font-weight: 900;
}

#word{
    font-size: 48px;
    font-weight: 900;
}

#definition{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;   
}

#example{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500; 
}

#showWords{
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    width: auto;
    height :auto;
    border: 0.5px solid white;
    border-radius: 2px;
    text-align: center;
    padding: 15px;
}

#showWords:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}